<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: verdana, sans-serif;font-size: 12px;color: #494c4e;">
<table border="1" style="border-collapse: collapse; width: 99.9107%; background-color: #FBEEB8;">
<tbody>
<tr>
<td style="width: 98.6497%;"><strong><span style="font-size: 24px;">first_name last_name student_number&nbsp;</span></strong></td>
</tr>
</tbody>
</table>
<p><span style="font-size: 16px;"><strong>acad_program, acad_plan</strong></span></p>
<p><span style="font-size: 16px;"><strong>Gender</strong>: theGender<br> <strong>Country</strong>: country_par<br> <strong>Residency:</strong> residency_par</span></p>

<p><span style="font-size: 16px;"><strong>Are you applying to a combined program?&nbsp;</strong>&nbsp;combined_program</span></p>
<p><span style="font-size: 16px;"><strong>Are you looking for advanced credit?</strong>&nbsp;advanced_credit</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Research Areas</strong></span></p>
<p><span style="font-size: 16px;">research_par</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Statement</strong></span></p>
<p><span style="font-size: 16px;">statement_par</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>GPA etc.</strong></span></p>
<p><span style="font-size: 16px;">gpa_etc</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Awards</strong></span></p>
<p><span style="font-size: 16px;">awards_par</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Financial Support</strong></span></p>
<p><span style="font-size: 16px;">financial_support</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Job experience</strong></span></p>
<p><span style="font-size: 16px;">job_experience</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Publications</strong></span></p>
<p><span style="font-size: 16px;">publications_par</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Other</strong></span></p>
<p><span style="font-size: 16px;">other_par</span></p>
</body>
</html>
