<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: verdana, sans-serif;font-size: 12px;color: #494c4e;">
<table border="1" style="border-collapse: collapse; width: 99.9107%; background-color: #FBEEB8;">
<tbody>
<tr>
<td style="width: 98.6497%;"><strong><span style="font-size: 24px;">FirstName LastName StudentNumber&nbsp;</span></strong></td>
</tr>
</tbody>
</table>
<p><span style="font-size: 16px;"><strong>academic_program, academic_plan</strong></span></p>
<p><span style="font-size: 16px;"><strong>Gender</strong>: theGender<br> <strong>Country</strong>: theCountry<br> <strong>Residency:</strong> theRes</span></p>

<p><span style="font-size: 16px;"><strong>Are you applying to a combined program?&nbsp;</strong>&nbsp;Question1</span></p>
<p><span style="font-size: 16px;"><strong>Are you looking for advanced credit?</strong>&nbsp;Question2</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Research Areas</strong></span></p>
<p><span style="font-size: 16px;">RAparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Statement</strong></span></p>
<p><span style="font-size: 16px;">STparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>GPA etc.</strong></span></p>
<p><span style="font-size: 16px;">GPAparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Awards</strong></span></p>
<p><span style="font-size: 16px;">AWparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Financial Support</strong></span></p>
<p><span style="font-size: 16px;">FSparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Job experience</strong></span></p>
<p><span style="font-size: 16px;">JEparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Publications</strong></span></p>
<p><span style="font-size: 16px;">PUBparagraph</span></p>
<hr>
<p><span style="font-size: 19px; color: #cd2026;"><strong>Other</strong></span></p>
<p><span style="font-size: 16px;">OTparagraph</span></p>
</body>
</html>
